body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(120deg, #253f4a, #01060f);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

p {
    color: #dadada;
    text-align: center;
}

div.title p {
    margin: 15px 0px 15px 0px;
    font-size: 1.3em;
}

div.title p#gamename {
    margin: 10px 0px 0px 0px;
    font-size: 3em;
    font-weight: bold;
}

div#gameboard {
    display: grid;
    grid-template: repeat(4,18vh) / repeat(4,18vh);
    background-color: #3c3f3f;
}

div#gameboard div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    background-color: #dadada;
    border-radius: 4px;
}

div#gameboard div p {
    margin: 0px;
    font-size: 2.2em;
    color: #01060f;
}