body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0px;
    padding: 0%;
    background-image: linear-gradient(120deg, #1b2e36, #01060f);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

p {
    text-align: center;
    color: #dadada;
}

div.title p {
    font-size: 1.3em;
    margin: 15px 0px 15px 0px;
}

div.title p#gamename {
    font-size: 3em;
    font-weight: bold;
    margin: 10px 0px 0px 0px;
}

div#gameboard {
    display: grid;
    grid-template: repeat(4,18vh) / repeat(4,18vh);
}

div#gameboard div {
    margin: 2px;
    background-color: #dadada;
    grid-column: 0/4;
}